.App {
  text-align: center;
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}
.Right  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}